.Contador div {
    display: inline-block;
    font-size: 45px;
    line-height: 20px;
    height: 50px;
    background: #101010;
    color: white;
    padding: 10px;
 
}

.Contador {
 text-align: center;
}

